

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.clock {
    position: relative;
    width: 700px;
    height: 250px;
    background: rgba(255, 255, 255, 0.05);
    z-index: 1000;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}

.clock .containerс {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.clock .containerс h2 {
    font-size: 6em;
    color: #000; /* Set the color to black */
}

.clock .containerс h2:nth-child(odd) {
    padding: 5px 15px;
    border-radius: 18px;
    background: white;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    margin: 0 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.clock .containerс h2#second {
    color: black;
}

#ampm {
    position: relative;
    top: -50px;
    font-size: 2em;
    color: black;
    font-weight: 700;
}

@media (max-width: 768px) {
    section {
        height: 80vh; /* Decrease height for smaller screens */
    }

    .clock {
        width: 90%; /* Utilize most of the screen width */
        height: 200px; /* Reduce the clock's height */
    }

    .clock .containerс h2 {
        font-size: 3.5em; /* Decrease font size for better fit */
    }

    #ampm {
        top: -30px; /* Adjust position */
        font-size: 1.5em; /* Decrease font size */
    }
}


