
.welcome {
    width: 100%;
    height: 500px;
    background-image: url("../img/apple.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.product {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    cursor: pointer;
    background: white;
}

.container {
    width: 1070px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container a {
    text-decoration: none;
}



.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;

}

.grid-product {
    width: 400px;
    height: 300px;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s cubic-bezier(0,0,.5,1);
    border-radius: 18px;
    box-shadow: 2px 4px 12px rgba(0,0,0,.08);
    position: relative;


}
.grid-product:hover {
    background: #e1e1e1;

}
.grid-product img {
    padding-top: 20px;
    width: 200px;
}
.grid-detail {
    margin: 20px 0;
    text-align: center;
    color: black;
}
.grid-detail p:last-child {
    transition: .5s;
    margin-top: 10px;
    color: black;
}
.grid-product:hover > .grid-detail p:last-child {
    color: #3498db;

}


.grid-product-full {

    background: #f1f1f1;
    grid-column: span 3;
    display: flex;
    position: relative;
    transition: all .3s cubic-bezier(0,0,.5,1);
    border-radius: 18px;
    box-shadow: 2px 4px 12px rgba(0,0,0,.08);

}
.grid-product-full img{
    padding: 10px;
    width: 100%;
}
.grid-product-full:hover > .grid-detail p:last-child {
    color: #3498db;

}
.grid-detail-sum {
    position: absolute;
    top: 35%;
    right: 12%;
    text-align: center;
}
.grid-detail-sum h2 {
    font-size: 3rem;
    font-weight: 500;
}
.grid-detail-sum p {
    margin: 20px 0;
}
.grid-detail-sum a {
    color: #3498db;
}
.grid-detail-sum a:hover {
    text-decoration: underline;
}

#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 18px;
    padding: 10px;
    cursor: pointer;
}

.search-container {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: white;

}

#myInput {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 18px;
    font-size: 16px;
    margin-right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    outline: none;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;

}
#myUL li {
    display: inline-block; /* Display list items inline */
    margin-right: 10px; /* Add some spacing between items */
}

#myUL li a {

    border-radius: 19px;
    margin-top: 1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@media (max-width: 768px) {
    .welcome {
        height: 500px; /* Restore original height for larger screens */
    }

    .welcome h1 {
        padding-top: 200px; /* Reset padding for larger screens */
        font-size: 2rem; /* Restore font size */
    }

    .container {
        width: 90%; /* Adjust container width for larger screens */
        max-width: 1070px; /* Set maximum width */
    }

    .grid {
        grid-template-columns: repeat(1, 1fr); /* Two columns for medium screens */
    }

    .grid-product {
        width: 300px; /* Adjust width for a better layout on medium screens */
        height: 250px; /* Set a fixed height */
    }

    .grid-product img {
        width: 150px; /* Adjust image size */
    }

    .grid-product-full {
        grid-column: span 2; /* Occupy two columns on medium screens */
    }

    .grid-detail-sum {
        top: 25%; /* Adjust position for medium screens */
        right: 8%; /* Modify right positioning */
    }

    .grid-detail-sum h2 {
        font-size: 2.5rem; /* Adjust font size */
    }
    .grid-product-full {
        width: 300px;
        height: 250px;
        justify-content: center;
        align-items: center;
        transition: all .3s cubic-bezier(0,0,.5,1);
        border-radius: 18px;
        box-shadow: 2px 4px 12px rgba(0,0,0,.08);
        position: relative;


    }

    .grid-product-full img{
        width: 0%;
    }


}

@media (min-width: 768px) and (max-width: 1279px){
    .welcome {
        height: 500px;
    }


    .container {
        width: 90%; /* Adjust container width for larger screens */
        max-width: 1070px; /* Set maximum width */
    }

    .grid {
        grid-template-columns: repeat(3, 1fr); /* Two columns for medium screens */
    }

    .grid-product {
        width: 200px; /* Adjust width for a better layout on medium screens */
        height: 250px; /* Set a fixed height */
    }

    .grid-product img {
        width: 120px; /* Adjust image size */
    }

    .grid-product-full {
        grid-column: span 2; /* Occupy two columns on medium screens */
    }

    .grid-detail-sum {
        top: 25%; /* Adjust position for medium screens */
        right: 8%; /* Modify right positioning */
    }

    .grid-detail-sum h2 {
        font-size: 2.5rem; /* Adjust font size */
    }
    .grid-product-full {
        width: 750px;
        justify-content: center;
        align-items: center;
        transition: all .3s cubic-bezier(0,0,.5,1);
        border-radius: 18px;
        box-shadow: 2px 4px 12px rgba(0,0,0,.08);
        position: relative;


    }

    .grid-product-full img{

        padding: 10px;

    }


}
